.author_div {
  max-width: 230px;
  width: 100%;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.img_author {
  width: 33px;
  height: 33px;
}

.p_author {
  color: #8bacd9;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
}

.span_author {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
}
