.img_1 {
  max-width: 302px;
  width: 100%;
  height: 302px;
  margin-bottom: 10px;
}

.img_div {
  position: relative;
  width: 302px;
  height: 302px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.sec_div {
  position: absolute;
  inset: 0;
  background-color: #00fff8;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eye_icon {
  width: 44px;
  height: 30px;
}

.sec_div:hover {
  opacity: 0.8;
}
