@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders:opsz,wght@10..72,100..900&family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nabla&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ultra&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d192c;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
}

.main_div {
  max-width: 350px;
  width: 100%;
  height: 596px;
  background-color: #15263f;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  border-radius: 15px;
  padding-bottom: 25px;
}

@media (max-width: 370px) {
  body {
    padding-left: 15px;
    padding-right: 15px;
  }

  .p_time {
    font-size: 12px;
  }
}
